services:
  gateway-service:
    build:
      context: ./gateway-service
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    networks:
      - chunsun-network

  auth-service:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    networks:
      - chunsun-network
    depends_on:
      chunsun-db:
        condition: service_healthy

  member-service:
    build:
      context: ./member-service
      dockerfile: Dockerfile
    networks:
      - chunsun-network
    depends_on:
      chunsun-db:
        condition: service_healthy

  coupon-service:
    build:
      context: ./coupon-service
      dockerfile: Dockerfile
    networks:
      - chunsun-network
    depends_on:
      chunsun-db:
        condition: service_healthy

  rank-service:
    build:
      context: ./rank-service
      dockerfile: Dockerfile
    networks:
      - chunsun-network
    depends_on:
      chunsun-db:
        condition: service_healthy

  payment-service:
    build:
      context: ./payment-service
      dockerfile: Dockerfile
    networks:
      - chunsun-network
    depends_on:
      chunsun-db:
        condition: service_healthy

  class-service:
    build:
      context: ./class-service
      dockerfile: Dockerfile
    networks:
      - chunsun-network
    depends_on:
      chunsun-db:
        condition: service_healthy

  chat-service:
    build:
      context: ./chat-service
      dockerfile: Dockerfile
    networks:
      - chunsun-network
    depends_on:
      chunsun-db:
        condition: service_healthy

  chunsun-db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_USER: chunsun
      MYSQL_PASSWORD: chunsun
      MYSQL_DATABASE : mydatabase # 임시 추가
    ports:
      - "3306:3306"
    volumes:
      - ./db/init-mysql:/docker-entrypoint-initdb.d
      - mysql_data:/var/lib/mysql
      - ./db/my.cnf:/etc/mysql/conf.d/my.cnf  # 임시추가
    command:
      --skip-character-set-client-handshake
    networks:
      - chunsun-network
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5


volumes:
  mysql_data:

networks:
  chunsun-network:
    driver: bridge
